@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
 background-color:  rgb(158, 124, 74);
  font-family: Arial, Helvetica, sans-serif;

}
.gold {
  cursor: pointer;
  padding-right: 20px;
}
.app{
  background-color: rgb(158, 124, 74);

  color:bisque;
        height:20vh;
    

}

.app:hover{
  color: rgb(158, 124, 74);
}

html {
  scroll-behavior: smooth;
}
.Cards{
    opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 4s ease forwards;
}
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}